{% extends 'spares_info/base.html' %}
{% load staticfiles %}

{% block title %}Адреса магазинов{% endblock %}

{% block menu %}
    <a href="{% url 'info' %}" class="list-group-item">Информация</a>
    <a href="{% url 'contacts' %}" class="list-group-item">Контакты</a>
    <a href="{% url 'shops' %}" class="list-group-item active">Магазины</a>
    <a href="{% url 'catalog' %}" class="list-group-item">Каталог</a>
{% endblock %}

{% block body %}
    <div class="row">
        {% for shop in shops %}
        <div class="col-md-3">
            <a href="{% url 'shops' shop.id %}" class="thumbnail">
                <img src="{{ shop.photo }}">
                {{ shop.address }}
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
